.portletAssignments {
  padding: 2rem 0 0;

  .portletHeader {
    font-size: 1em;
  }

  h4 {
    text-transform: uppercase;
  }

  .managedPortlet.portlet {
    .portletHeader > a {
      color: $link-color;
      display: block;
    }

    .portletHeader {
      padding-bottom: 20px;
      font-size: 1em;
      line-height: 1.3em;

      .managedPortletActions {
        float: none;
        display: flex;
        justify-content: flex-end;

        button {
          padding: 0.3em;
        }
      }
    }
  }

  .managedPortlet.inheritedPortlet {
    margin: 1rem;

    .portletHeader {
      border-bottom: 0;
      margin-bottom: 0;

      > a {
        color: $link-color;
      }
    }
  }

  .portlet-group {
    padding: 0 0 2rem;
  }

  .blockedPortlet .managedPortletActions {
    opacity: .5;
  }

  select {
    display: block;
  }

  .formControls {
    background: transparent;
    padding: 1em 0;
    margin: 1em 0;
  }
}

#portal-footer-wrapper {
  div.managePortletsLink, a.managePortletsFallback {
      background-color: transparentize(#ddd, 0.8);
  }
}
