[buildout]
extends =
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/test-5.x.cfg
    base.cfg

[versions]
# Use the one from requirements
setuptools =
zc.buildout =

createcoverage = 1.5
coverage = 4.0.2
