.kelove_json_editor_content {width : 100%; height : 400px;clear : both;}

.kelove_json_editor_content .jsoneditor-poweredBy {display : none !important;}

.kelove_json_editor_content .jsoneditor-search input[type="text"] {padding : 3px 8px;min-height : auto;}