[buildout]
show-picked-versions = true
extends = versions.cfg

parts =
    pytest
    pytest-cov
    omelette

develop=
    .

versions = versions

[pytest]
recipe = zc.recipe.egg:scripts
eggs =
    imio.amqp [test]
    pytest
scripts = py.test
arguments = ['--capture=no', 'src/imio'] + sys.argv[1:]

[pytest-cov]
recipe = zc.recipe.egg:scripts
scripts = py.test=test-coverage
eggs =
    imio.amqp [test]
    pytest
    pytest-cov
arguments = ['--capture=no', '--cov', 'src/imio', '--cov-report', 'term', '--cov-report', 'html', 'src/imio'] + sys.argv[1:]

[omelette]
recipe = collective.recipe.omelette
eggs = ${pytest-cov:eggs}
