@import url('_palette.css');
@import url('text-styles.css');
@import url('helper-classes.css');

html, body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: "Helvetica", "Arial", "Roboto", sans-serif;
  color: #062e44;
  background-color: var(--ice-blue);
  line-height: 128%;
}

p {
  margin: 0.25em auto;
}
/*
.row--nested div[class*='col'] {
  padding-left: 5px;
  padding-right: 5px;
}
*/

/* --
  layout
  -- */
.page__wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.row::before {
  display: none;
}

.row__row--tags {
  margin-top: -12px!important;
}

/* --
  headings
  -- */
.heading {
  padding-top: 24px;
  padding-bottom: 12px;
  text-shadow: 0 1px 0 var(--ice-blue);
}
.page__wrapper--heading {
  position: relative;
  border: 1px solid var(--tasman);
  border-bottom-color: var(--navy-light);
  font-weight: 600;
  padding: 18px 24px;
  margin-bottom: -1px;
  background-color: var(--alice-blue);
  z-index: 1;
/*
  background: linear-gradient(45deg, rgba(242,245,247,1) 0%, rgba(242,245,247,0.95) 100%), 
              url('../images/logo_navy.png');
              background-size: 40% 150%;
              background-repeat: no-repeat;
              background-position: 105% 0;*/
}

.heading.scorecard {
  background-color: var(--cardinal);
}

.page__wrapper--heading:after {
  display: block;
  content: '';
  position: absolute;
  bottom: -6px;
  left: 65px;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  border-right: 1px solid var(--navy-light);
  border-bottom: 1px solid var(--navy-light);
  background-color: var(--alice-blue);
}


/* --
  cards
  -- */
.card {
  border-radius: 0 0 3px 3px;
  padding: 18px 24px;
  background-color: #ffffff;
}

.card__card--nested {
  text-align:center;
  padding: 12px 6px;
  /*margin: 0 12px;*/
}
.card__card--nested::first-child {
  margin-left: 0;
}
.card__card--nested::nth-last-child {
  margin-right: 0;
}

.card--bordered {
  border: 1px solid var(--tasman);
}

.card__custom-block {
  padding-left: 6%;
  text-align: right;
  border-radius: 3px;
}

.card__custom-block--congrats {
  background-color: var(--green-ok);
  border: 1px solid var(--green-ok);
}

.card__custom-block--info {
  background-color: var(--primary-blue);
  border: 1px solid var(--primary-blue);
  background: var(--primary-blue) url('../images/info-white.png') 10px center no-repeat;
  background-size: 20px 20px;
}

.card__custom-block-text {
  background-color: #ffffff;
  text-align: left;
  padding: 6px 12px;
}

.card__inner-subheading--light {
  position: relative;
  background: var(--alice-blue);
  border-top: 1px solid var(--tasman);
  border-bottom: 1px solid var(--tasman);
  padding: 12px 24px 6px;
}

.cell--background-mint {
  background-color: var(--mint-blue);
}

.cell--background-ice {
  background-color: var(--ice-blue);
}

.cell--background-white {
  background-color: white;
}

/* -- 
  spec file specific card
  -- */
.cell__test-bar {
  display: inline-block;
  line-height: 85%;
  font-size: 6px;
  margin: 6px 0;
  padding: 0;
  height: 12px;
}

.cell__test-bar.test-bar--total {
  background-color: var(--tasman);
}

.cell__test-bar.test-bar--failed {
  background-color: var(--critical);
}

ul li.test-result {
  margin: 6px 0 12px 0;
}

.severity-list-item {
  position: relative;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  padding: 12px 6px 0px 12px;
}

.severity-list-item p {
  font-size: 10px;
  line-height: 120%;
  margin-bottom: 6px;
}

.severity-list-item span {
  font-size: 22px;
  line-height: 145%;
}

.severity-list-item:before {
  content: '';
  display: block;
  position: absolute;
  top: -10px;
  left: -10px;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  font-weight: 600;
  font-size: 10px;
  text-align: center;
  line-height: 215%;
}

.severity-list-item.severity--p1 {
  border-color: var(--critical);
}
.severity--p1:before {
  background-color: var(--critical);
  color: white;
  content: 'Cri';
}
.severity-list-item.severity--p1 span {
  color: var(--critical);
}

.severity-list-item.severity--p2 {
  border-color: var(--high);
}
.severity--p2:before {
  background-color: var(--high);
  color: white;
  content: 'High';
}
.severity-list-item.severity--p2 span {
  color: var(--high);
}

.severity-list-item.severity--p3 {
  border-color: var(--medium);
}
.severity--p3:before {
  background-color: var(--medium);
  color: white;
  content: 'Med';
}
.severity-list-item.severity--p3 span {
  color: var(--medium);
}

.severity-list-item.severity--p4 {
  border-color: var(--low);
}
.severity--p4:before {
  background-color: var(--low);
  color: white;
  content: 'Low';
}
.severity-list-item.severity--p4 span {
  color: var(--low);
}

/* --
tables
-- */
table {
  margin: 12px 0;
}

table,
table tr {
  border-bottom: 1px solid var(--tasman);
}

table th {
  color: var(--slate-grey);
  font-size: 14px;
  padding-bottom: 0.75em;
}

table tr:last-child {
  border-bottom: 0;
}

table tr td {
  font-size: 12.75px;
  padding: 0.25em 0.5em;
}

.row__data-summary {
  border-radius: 3px;
  padding: 12px;
}

.row__data-summary.severity-end-cap {
  background-color: var(--alice-blue);
  border-left-width: 6px!important;
}

table tr td .row .severity-end-cap {
  border: 1px solid transparent;
}


table tr td .row div[class*='col-']:after {
  content: '';
  width: 2px;
  background-color: var(--tasman);
  position: absolute;
  right: 0;
  top: 8%;
  height: 85%;
  border-left: 1px solid white;
}

table tr td .row div[class*='col-']:last-child:after {
  width: 0;
  opacity: 0;
}

/* --
  static height to make these 2 columns even
  -- */
  /* -- 
  AC: 1.26.21
  @Sekhar - I've commented out this height specification for now, which will allow the cards to expand/contract vertically
  depending on their content. If we need better alignment on the top 3 we can adjust maybe with inline styles once content is flowed in

#row1 > div > .card {
  height: 425px;
}
 -- */ 

.chart--doughnut {
  border-radius: 50%;
  border: 1px solid var(--tasman);
  width: auto;
  min-height: 3em;
  margin: 24px 0;
}
.chart__label {
  z-index: 2;
  position: absolute;
  color: var(--slate-grey);
  font-weight: 300;
  font-size: 9pt;
  border-radius: 3px;
  background-color: var(--ice-blue);
  padding: 2px 4px 2px 0;
  box-shadow: 0 0 2px var(--tasman);
  border: 1px solid var(--tasman);
  text-align: center;
  line-height: 1;
  position: relative;
}

.chart__label b {
  background-color: var(--navy-light);
  font-weight: 600;
  color: var(--alice-blue);
  padding: 2px 4px;
  border-radius: 3px;
  margin: 1px 4px 1px 1px;
  font-size: 80%;
}

.caret:after {
  display:block;
  content: '';
  zoom: 1;
  position: absolute;
  background-color: var(--ice-blue);
  transform: skewY(40deg);
  width: 5px;
  height: 15px;
  z-index: 2;
  border: 1px solid var(--tasman);
}

.caret--bl {
  left: 0;
  bottom: 0;
}

/* --
  tiles
  -- */
.card__tile {
  position: relative;
  border-radius: 3px;
  text-align: center;
  background: linear-gradient(45deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 80%), 
              url('../images/tile-bkgnd.png');
  overflow: hidden;
  padding: 6px 12px;
  text-shadow: 0 1px 0 var(--tasman);
  border-bottom: 3px solid transparent;
}

.card_tile span {
  display: block;
  position: relative;
  z-index: 2!important;
  color: black;
}

.card__tile--ice {
  background: linear-gradient(45deg, rgba(250,251,252,0) 0%, rgba(250,251,252,1) 80%), 
              url('../images/tile-bkgnd.png');
}



/* --
  lists
  -- */
ul,
ul.list,
ul li,
ul.list li {
  list-style: none outside none;
  padding: 0;
  margin: 0;
  line-height: 1.35em;
}
ul.list--inline li {
  display: inline-block;
}
ul.list--outside-disc li {
  list-style: disc outside none;
}

ul.list .list--full-width {
  width: 100%;
}

ul.list__tabular-data li {
  border-bottom: 1px solid var(--alice-blue);
}

ul.list--inline li.tag:last-child {
  margin-left:85px!important;
  margin-bottom: 10px;
}

/*
  -- Header
  */
.page__header {
  box-sizing: border-box;
  height: 68px;
  padding: 10px 24px;
  background-color: var(--navy);
  color: #ffffff;
  line-height: 120%;
}

.page__header--risk-report{}

.page__header--text {
  line-height: 100%;
}

.page__sub-head {
  border-bottom: 1px solid var(--tasman);
  font-size: 75%;
}

.severity__badge {
  border-radius: 50%;
  height: 6px;
  width: 6px;
  display: inline-block;
}
/*
  -- Footer
  */
footer,
.row.footer {
    padding-top: 72px;
    margin-top: 72px;
  position: relative;
  margin-top: 12px;
  height: 60px!important;
  display:block;
  border-top: 1px solid var(--tasman);
  bottom: 0;
  left: 0;
}
.logo {
  width: 80px;
  height: 60px;
  background: url('../images/cloud_vector_logo_transparent.png') center center no-repeat;
  background-size: contain;
  position: absolute;
  top: 2px;
  right:24px;
}

  
