.ckfinder-controller-btn {
    opacity : 1;padding : 6px 0;margin-left : 3px;
}

.ckfinder-image-show {
    display : block;width : 100%;margin-top : 10px;
}

.ckfinder-image-show .ckfinder-image-show-item {
    max-height : 128px;
}