dt.bandoTitle {
    margin-top: 1rem;
}

.bandoInfos,
.bandoTitle {
    .bandoStateClass {
        font-size: 13px;
        width: 57px;
        line-height: 3rem;
    }
}

h2.bandoTitle,
.bandoInfos {
    padding: 15px 0;
}

.tileContent {
    .bandoInfos {
        padding-left: 75px;
    }
}

.bandoTitle,
dt.bandoTitle,
.bandoInfos {
    position: relative;

    .tileContent & {
        .bandoStateClass {
            position: absolute;
            top: 3rem;
            left: 0;
        }
    }

    .searchResults & {
        .bandoStateClass {
            float: left;
        }
    }

    .state-open,
    .state-inProgress,
    .state-closed {
        &,
        &.bandoStateClass {
            padding: 15px 0 5px;
            color: #1c2024;
        }
    }
}

.bandi-collection {
    .bando-item {
        position: relative;

        h2.bandoTitle {
            font-size: 120%;
            font-weight: normal;
            margin: 2em 0 0;
            display: inline-flex;

            a {
                border: 0;
                margin-left: 70px;

                span {
                    border-bottom: 1px solid;
                }
            }

            .bandoStateClass {
                position: absolute;
                top: 15px;
                left: 0;
            }
        }
    }
}

.labelTB {
    font-weight: bold;
}

.bandoDates {
    display: flex;
    flex-wrap: wrap;

    .colspacer {
        padding: 0 10px;
    }
}

.bandi-collection {
    .tile-wrapper {
        padding: 20px 0;
        position: relative;
    }

    .showMore {
        position: absolute;
        top: 20px;
        right: 0;
        padding: 10px 0;
    }

    .showMore a {
        border-bottom: 1px solid;
    }

    ul.tileContent {
        padding-left: 0;
    }
}
