#breadcrumbs {
    background: $gray-bg;
    padding: 0.6em 0;

    body.template-homepage_view & {
        display: none;
    }

    #portal-breadcrumbs {
        margin: 0;
        @include make-container;

        #breadcrumbs-you-are-here {
            display: none;
        }

        a {
            font-size: 0.95em;
            font-weight: $semibold;
        }

        span#breadcrumbs-current {
            font-size: 0.9em;
        }

        span.breadcrumbSeparator {
            background: transparent url($img-path+'arrow_right.svg') no-repeat
                center center;
            background-size: contain;
            width: 1em;
            height: 0.6em;
            display: inline-block;
            margin: 0 0.3em;
        }
    }
}
