body.template-cciaa_collection_view,
body.template-rating_topic_view {
    #content {
        .cciaa_topic_view {
            .cciaaTopicItem {
                padding: 1.5rem 1.5rem 1.5rem 5rem;
                border-bottom: 1px dashed #ccc;
                position: relative;

                h4 {
                    margin: 0.5rem 0;
                }

                p {
                    margin-bottom: 0;
                }

                &::before {
                    @include make-fa('\f016');
                    font-size: 2.5rem;
                    position: absolute;
                    left: 0;
                    top: 2em;
                }

                &.topic-news-item {
                    &::before {
                        @include make-fa('\f1ea');
                    }
                }

                &.topic-event {
                    &::before {
                        @include make-fa('\f073');
                    }
                }
                .last-comments {
                    margin-top: 20px;
                    .discussion {
                        margin: 0;
                        .commentBody {
                            padding: 0.5em;
                            font-size: 85%;
                        }
                    }
                }
            }

            .listingBar {
                a {
                    border-width: 1px;
                    border-color: $brand-primary;
                    border-radius: 3px;

                    &:hover,
                    &:focus {
                        background: $brand-primary;
                        color: #fff !important;
                        border-color: $brand-primary !important;
                    }
                }
            }
        }
    }

    .comments-ratings {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        margin-top: 1rem;

        .dash {
            margin: 0 1.5rem;
        }

        .rating-collection {
            margin-top: 0;
        }
    }
}
