.collapse-wrapper,
#content .collapse-wrapper {
    margin: 1.5rem 0;
    padding: 1rem;
    background: #eee;
    border-radius: 4px;

    button {
        background: none;
        border: 1px solid $brand-primary;
        text-align: left;

        &:hover,
        &:focus {
            border: 1px solid $brand-primary;
            outline: none;
        }

        &:hover {
            background: #e3e3e3;
        }

        i {
            transition: all 0.3s ease-in-out;
        }

        span {
            color: #000;
            margin-left: 0.5rem;
            white-space: normal;
        }

        &[aria-expanded='true'] {
            i {
                transform: rotate(45deg);
            }
        }
    }

    .collapse {
        padding: 1rem 0;

        p {
            margin-bottom: 0.5rem;
        }
    }
}
