body.portaltype-news-item #content,
.parent-fieldname-text,
.content-text,
.document-text {
    a {
        border-bottom: 1px solid $link-color;

        &:hover,
        &:focus {
            border-bottom: 1px solid $link-hover-border-color;
        }
    }

    .leadImage a {
        border: 0;

        &:hover,
        &:focus {
            border: 0;
        }
    }
}

body {
    &.template-tiles_view,
    &.template-tiles_page_view,
    &.template-document_view,
    &.template-structured_content_view,
    &.template-listing_view,
    &.template-summary_view,
    &.template-newsitem_view,
    &.template-bando_view,
    &.template-pubblicazione_main_view,
    &.template-pubblicazioni_collection_view,
    &.template-event_view,
    &.template-scheda_view,
    &.template-imagedevent_view {
        #portal-columns {
            &.with-column-two {
                #portal-column-content {
                    max-width: $column-agid-width;
                    width: 100%;
                    font-size: 19px;
                    padding-right: 6%;

                    @media (max-width: $column-wrap-width) {
                        padding-right: 0;
                    }
                }
            }

            &.with-column-one {
                #portal-column-content {
                    left: 0;

                    @media (min-width: $screen-xs-max) {
                        padding-left: 0;
                        padding-right: inherit;
                    }
                }
            }
        }

        #portal-column-two {
            padding-left: 0;
            padding-right: 0;
            width: 33%;
            max-width: calc(100% - 80rem);
            float: right;
            font-size: 18px;

            @media (max-width: $column-wrap-width) {
                width: 100%;
                max-width: $column-agid-width;
                float: none;
                clear: both;
            }
        }

        #portal-column-one {
            display: none;
        }
    }
}

.documentDescription {
    padding-left: 20px;
    margin: 30px 0 40px;
    border-left: 9px solid #c1c1c1;
}

body {
    #portal-column-two {
        > *:not(.share) {
            font-size: 16px;
        }
    }
}

#content {
    pre {
        background: rgba(40, 54, 64, 0.7);
        color: #fff;
        font-size: 1em;
        font-family: inherit;
        overflow: visible;
        white-space: normal;
        line-height: normal;
        border-radius: 5px;

        a {
            color: #fff !important;
            border-color: #fff !important;

            &:hover,
            &:focus {
                color: darken(#fff, 15%) !important;
                border-color: darken(#fff, 15%) !important;
            }
        }
    }
}
