.documentByLine {
    font-size: 0.9em;
    display: inline;

    abbr {
        margin: 5px 0;
        display: inline-block;
        border: 0;
        text-decoration: none;
        cursor: inherit;
    }
}

#category {
    span {
        a.link-category {
            background: none;
            color: $brand-primary;
            border: 1px solid $brand-primary;
            padding: 2px 7px;
            border-radius: 4px;

            &:hover, &:focus {
                background: $brand-primary;
                border-color: $brand-primary;
                color: #FFF;
            }
        }
    }
}

#plone-document-byline {
    display: block;
    margin-bottom: 0.7rem;

    &:before {
        @include make-fa('\f073');
        color: $gray-documentByLine;
        padding-right: 0.5rem;
    }

    a {
        &:focus,
        &:hover {
            border-bottom: 1px solid $link-hover-color;
        }
    }
}
