#portal-footer-wrapper {
    background-color: $footer-bg;
    // overflow: auto;
    padding: 0 0 3.5rem;
    color: #fff;

    .portal-footer {
        @include make-container;
        padding-left: 0;
        padding-right: 0;
    }

    a {
        color: $footer-link;

        &:hover {
            color: $footer-link-hover;
            border: 0;
        }
    }

    ul {
        list-style: none;
        padding-left: 0;

        li {
            padding-bottom: 5px;

            &:before {
                padding-right: 15px;
                @include make-ita('\023f5', #fff);
                font-size: 0.4em;
                text-align: right;
            }

            // hack to avoid IE
            @supports (display: grid) {
                display: table;

                &:before {
                    display: table-cell;
                }
            }
        }
    }

    .footer-logo,
    .footer-actions {
        display: block;
        width: 100%;
        clear: both;
    }

    .footer-logo {
        @include make-container;
        padding: 50px 15px 15px;
        margin-left: auto;
        margin-right: auto;

        > * {
            padding: 0;
        }

        .portletHeader {
            float: left;
            margin-top: 25px;
        }

        .portletItem {
            float: right;
        }

        img {
            max-width: 80vw;
        }

        @media (max-width: $screen-xs-max) {
            margin-bottom: 0;
            padding: 30px 15px 0;

            .portletHeader {
                padding-bottom: 30px;
            }

            .portletHeader,
            .portletItem {
                float: none;
                margin: 0;
            }
        }
    }

    .footer-inner-wrapper {
        @include make-container;
        padding-left: 0;
        padding-bottom: 0;
        display: flex;
        flex-direction: column-reverse;

        a {
            text-decoration: underline !important;
        }
    }

    .footer-actions {
        padding: 5px 15px 0;

        ul {
            list-style: none;
            width: 100%;
            padding-left: 0;

            li {
                display: inline-block;
                padding-right: 20px;

                &:before {
                    display: none;
                }
            }
        }

        hr {
            max-width: 100%;
        }
    }

    ul.footer-social {
        @extend .list-inline;
        display: inline-block;

        li {
            float: left;

            a {
                display: inline-block;

                &:before {
                    display: inline-block;
                    border-radius: 100%;
                    background-color: $footer-link;
                    color: #fff;
                    width: 3rem;
                    height: 3rem;
                    text-align: center;
                    font-size: 2rem;
                    line-height: 1.5;
                }

                &.fb:before {
                    @include make-fa('\f09a', $footer-bg);
                }
                &.tw:before {
                    @include make-fa('\f099', $footer-bg);
                }
                &.yt:before {
                    @include make-fa('\f167', $footer-bg);
                }
                &.in:before {
                    @include make-fa('\f0e1', $footer-bg);
                }
                &.ig:before {
                    @include make-fa('\f16d', $footer-bg);
                }
                &.st {
                    &:before {
                        content: '';
                        vertical-align: bottom;
                        background-image: url($img-path+'storify.svg');
                        background-size: 2rem;
                        background-repeat: no-repeat;
                        background-position: center center;
                    }
                }
                &.tg:before {
                    @include make-fa('\f2c6', $footer-bg);
                }
                &.rss:before {
                    @include make-fa('\f09e', $footer-bg);
                }
                &.gplus:before {
                    @include make-fa('\f0d5', $footer-bg);
                }
                &.medium:before {
                    background-image: url($img-path+'medium.svg');
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: 75%;
                    content: '';
                }

                &:focus,
                &:hover {
                    &:before {
                        background-color: $gray;
                        color: #fff;
                    }

                    &.st {
                        &:before {
                            background-image: url($img-path+'storifyHover.svg');
                        }
                    }

                    &.medium {
                        &:before {
                            background-image: url($img-path+'mediumHover.svg');
                        }
                    }
                }

                span {
                    @extend .sr-only;
                }
            }

            &:before {
                display: none;
            }
        }
    }

    .newsletter {
        &:before {
            @include make-ita('\1f4e7', #eee);
            display: block;
            font-size: 2em;
        }

        .newsletter-link {
            font-size: 1.1em;
        }

        .newsletter-text {
            font-size: 0.9em;
            font-weight: 100;
            padding-top: 10px;
        }
    }

    hr {
        border-color: $footer-hr;
        margin-left: 0;
        width: 100%;
        max-width: 300px;
    }

    .portletHeader {
        background: transparent;
        border: 0;
        font-size: 1.5em;
    }

    .portletItem {
        background-color: inherit;

        h2,
        h4 {
            font-size: 1.2em;
            margin-top: 12px;
            margin-bottom: 14px;
            text-transform: uppercase;
        }
    }

    .contentwellportlets {
        margin-left: 0;
        margin-right: 0;

        > div {
            width: 22%;
            padding: 20px;

            &:first-of-type {
                width: 34%;
            }
        }

        @media (max-width: 1024px) {
            display: flex;
            flex-flow: row wrap;

            > div {
                &,
                &:first-of-type {
                    width: 50%;
                }
            }
        }

        @media (max-width: $screen-xs-max) {
            > div {
                &,
                &:first-of-type {
                    width: 100%;
                }
            }
        }
    }

    ul#portal-siteactions {
        display: flex;
        flex-wrap: wrap;
        border-top: 1px solid $footer-hr;
        padding: 1rem 0 0;
        margin: 0 20px;

        li {
            margin: 0;
            padding: 2rem 0 0;

            + li {
                padding-left: 2.5rem;
            }

            &::before {
                display: none;
            }

            a {
                &:hover,
                &:focus {
                    color: $footer-link-hover;
                }
            }
        }
    }

    #portal-colophon {
        display: none;
    }
}
