.section-homepage,
.template-homepage_view {
    #parent-fieldname-title {
        display: none;
    }

    #portal-top {
        background: #fff;
    }

    #viewlet-below-content,
    #portal-column-two,
    #content header {
        display: none;
    }

    #portal-column-content,
    #portal-columns {
        padding: 0;
        width: 100%;
    }
}
