table.modulisticaListing {
    tbody {
        tr {
            td {
                padding: 5px;
                min-width: 2em;

                a {
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }
}
