#parent-fieldname-text {
    a {
        border-bottom: 1px solid $link-color;

        &:hover,
        &:focus {
            border-bottom: 1px solid $link-hover-border-color;
        }
    }
}


// CONTENT
#content {
    margin: 0;

    .documentDescription,
    #description {
        font-size: 1.1em;
        line-height: 1.5em;
        font-weight: $regular;
        margin-bottom: 1.6em;
    }

    #archetypes-fieldname-description textarea#description {
        font-weight: $regular;
    }

    .pullquote {
        font-size: 1.3em;
        letter-spacing: normal !important;
        font-family: $headings-font-family;
    }

    .callout {
        background: $globalBackgroundColor;
        border: 0;
        border-top: 3px solid $brand-primary;
    }
}
