.portlet {
    margin-bottom: 1.5rem;
}

dl.portlet dt,
.portletHeader {
    border-bottom: 4px solid $gray-nav;
    font-size: 2.3rem;
    font-weight: $semibold;
    padding: 0.8rem 0;
    margin-bottom: 0.5em;
    background-color: transparent;
    text-transform: uppercase;

    a:link,
    a:visited {
        color: #000;
    }
}

.portletContent {
    a {
        border-bottom: 1px solid transparent;

        &:hover,
        &:focus {
            border-bottom-color: $link-hover-color;
        }
    }
}

// NAVIGAZIONE
dl.portletERPortletNavigation dd.portletItem,
dl.portletNavigationTree dd.portletItem,
.navigationTile {
    padding: 0;

    ul.navTree {
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
            padding: 0;
            margin: 0;
            border: 0 none;

            a {
                padding: 1.5rem 2.5rem 1.5rem 2rem;
                border-bottom: 1px solid $gray-desc-border !important;
                display: block;
                color: $link-color !important;
                background-image: none !important;

                &.navTreeFolderish {
                    position: relative;
                    &:after {
                        @include make-fa('\f107');
                        display: block;
                        position: absolute;
                        top: 1rem;
                        right: 1rem;
                        font-size: 2.5rem;
                        color: #000;
                    }
                    &.navTreeCurrentNode,
                    &.navTreeItemInPath {
                        &:after {
                            @include make-fa('\f106');
                            top: 0.5rem;
                            font-weight: $regular;
                        }
                    }
                }
                &:hover,
                &:focus {
                    text-decoration: underline !important;
                }
                img {
                    display: none;
                }
            }

            &.navTreeFolderish {
                > ul {
                    > li {
                        > div > a,
                        > a {
                            background-color: $gray-bg;
                        }
                    }
                }
            }

            &.navTreeItemInPath,
            &.navTreeCurrentNode {
                a.navTreeItemInPath,
                a.navTreeCurrentItem {
                    background-color: $brand-primary;
                    color: #fff !important;
                    font-weight: $semibold;
                    &:after {
                        color: #fff;
                    }
                }
            }
        }

        ul {
            margin-left: 2rem;
            margin-top: 0;
        }

        &.navTreeLevel0 {
            > li {
                &:last-child {
                    > div > a,
                    > a {
                        border-bottom: 0 none;
                    }
                }
            }
        }

        .navTreeCurrentItem {
            border-left: 0 none;
            margin-left: 0;
            margin-right: 0;
        }
    }
}
.icons-on {
    .portletERPortletNavigation,
    .portletNavigationTree {
        dd.portletItem {
            ul.navTree {
                li {
                    a {
                        background-image: none;
                        padding-left: 2rem !important;

                        img {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

// STATICA AVANZATA
dl.portlet.rerPortletAdvancedStatic,
.rerPortletAdvancedStatic {
    .portletHeader {
        margin-bottom: 0;
    }
    dl.portletItem {
        background-color: $globalBackgroundColor;
    }

    &.ModuliNorme {
        .portletItem {
            padding: 0;

            ul {
                margin: 0;
                padding: 0;
                list-style-type: none;

                li {
                    padding: 1.5rem 2.5rem 1.5rem 2rem;
                    border-bottom: 1px solid $gray-desc-border;
                    margin: 0;
                    display: block;

                    &:last-child {
                        border-bottom: 0 none;
                    }

                    a {
                        border-bottom: 0 none;
                    }
                }
            }
        }
    }

    &.LinkDiretto {
        background-color: $brand-primary;
        display: inline-block;

        dt.portletHeader,
        .portletHeader {
            border-bottom: 0 none;
            font-size: 1.8rem;
            padding: 1rem 5rem;
            margin-bottom: 0;
            text-align: center;
            display: inline-block;

            a {
                display: inline;

                &:link,
                &:visited {
                    color: #fff;
                }
                &:focus,
                &:hover {
                    color: #fff !important;
                    border-bottom: 1px solid #fff;
                }
            }
        }
    }
    &.TornaIndietro {
        border: 1px solid $gray-nav;

        dt.portletHeader,
        .portletHeader {
            border-bottom: 0 none;
            padding: 1.4rem;
            margin-bottom: 0;
            text-align: center;
            text-transform: none;
            font-weight: 300;
            font-size: 2rem;

            a {
                span {
                    background: transparent url($img-path+'arrow_left.svg')
                        no-repeat 0 center;
                    padding-left: 4rem;

                    &:hover,
                    &:focus {
                        border-bottom: 1px solid $link-hover-color;
                    }
                }
            }
        }
    }
}

// COLLEZIONE
.portletCollection {
    ul.portletContent {
        padding: 0;
        list-style-type: none;

        li {
            padding: 1.5rem 2.5rem 1.5rem 2rem;
            border-bottom: 1px solid $gray-desc-border;
            &:last-child {
                border-bottom: 0 none;
            }

            a.tile {
                img {
                    display: none;
                }
                .portletItemDetails {
                    font-style: italic;
                    font-size: 0.8em;
                }
            }
        }
    }
}

// CALENDAR
.portletCalendar {
    header {
        text-align: center;
    }
    .ploneCalendar {
        td.today {
            border: 0 none;
        }
    }
}

// PLACEHOLDER PER CREARE COLONNA
.placeholder-portlet {
    display: none;
}

// PORTLET SCHEDA
.boxScheda {
    margin-bottom: 1.5rem;

    h4.boxHeader {
        border-bottom: 4px solid $gray-nav;
        font-size: 2.3rem;
        font-weight: $semibold;
        padding: 0.8rem 0;
        margin-bottom: 0;
        background-color: transparent;
        text-transform: uppercase;
        margin-top: 0;
        line-height: normal;
    }

    .boxContent {
        background-color: $globalBackgroundColor;
        line-height: 1.5em;
        padding: 0;

        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;

            li {
                padding: 1.5rem 2.5rem 1.5rem 2rem;
                border-bottom: 1px solid $gray-desc-border;
                margin: 0;
                display: block;

                &:last-child {
                    border-bottom: 0 none;
                }

                a {
                    border-bottom: 0 none;
                }
            }

            &.listLink {
                li {
                    a {
                        display: block;
                        position: relative;
                        padding-right: 40px;

                        &:after {
                            background: url($img-path+'arrow_right.png')
                                no-repeat center center;
                            position: absolute;
                            top: 0;
                            right: 0;
                            height: 32px;
                            width: 32px;
                            content: ' ';
                            display: block;
                        }
                    }
                    &.linkFile {
                        a:after {
                            background-image: url($img-path+'file.png');
                        }
                    }
                    &.linkFilePdf {
                        a:after {
                            background-image: url($img-path+'pdf.png');
                        }
                    }
                }
            }
        }
    }

    &:not(.boxNorma):not(.boxModuli):not(.boxBandoDetail) {
        .boxContent {
            > div {
                padding: 0 20px;
                display: flex;

                &:last-of-type {
                    padding-bottom: 20px;
                }
            }

            > h5 {
                padding: 20px 20px 0;
            }
        }
    }
}

#column-collective-portletpage-toprow-portlet-in-this-section,
#column-collective-portletpage-toprow-portlet-in-questa-sezione {
    ul {
        li {
            border-bottom: 1px solid #ccc;
        }
    }

    a {
        border-bottom: 0 !important;
    }
}

.boxApprofondimenti {
    .boxHeader {
        text-transform: uppercase;
        margin: 0.5rem 0;
    }

    ul.listLink {
        padding: 0.5rem 0;

        li {
            display: block;
            padding: 0.25rem 0;

            &::before {
                @include make-fa('\f105');
                margin-right: 0.5rem;
            }
        }
    }
}

// PORTLET BANDI DETAILS
.boxBandoDetail {
    .boxContent {
        padding: 2rem;

        .tipologiaBando {
            padding-bottom: 1.5rem;
        }

        > div {
            padding-bottom: 1rem;

            li {
                padding: 0;
            }

            p {
                margin-bottom: 0;
            }
        }
    }
}

#content {
    .portletPageColumn {
        .portletERPortletNavigation {
            ul.navTree {
                margin-left: 0;

                a {
                    border-bottom-color: #bbb;
                }
            }
        }

        .portletBandi {
            .portletItem:not(:last-of-type) {
                border-bottom: 1px dashed #ccc;
            }

            .labelTB:not(:first-of-type) {
                padding-left: 1rem;
            }
        }
    }
}
