#week-table-wrapper {
    table#week {
        width: 99.9%;

        a {
            border: 0;
        }

        caption {
            background-color: $brand-primary;
            border: 0;
            text-align: center;
            color: $gray-lighter;
            padding-top: 0.5em;

            a {
                color: #fff;
                border: 0;

                &:focus,
                &:hover {
                    color: #FFF !important;
                    text-decoration: underline !important;
                }

                &.floatleft,
                &.floatright {
                    text-transform: uppercase;
                    @extend .semibold;
                    font-size: 0.8em;
                }

                &.floatright:after {
                    @include make-fa('\f054');
                    margin-left: 5px;
                }

                &.floatleft:before {
                    @include make-fa('\f053');
                    margin-right: 5px;
                }
            }

            strong {
                text-transform: uppercase;
                @extend .light;
                font-size: 1.5em;
            }

            a:not([class]) {
                margin-left: 1em;
                font-size: 0.75em;
                text-transform: uppercase;
                padding: 0.2em 0.8em;
                background-color: $gray-lighter;
                border-radius: 4px;
                vertical-align: text-bottom;
                color: $text-color;
                @extend .semibold;

                &:focus,
                &:hover {
                    background-color: $brand-primary;
                    color: #fff !important;
                }
            }
        }

        thead {
            th {
                @extend .semibold;
                padding: 0 0.5em 0.5em;
                border: 0;
            }
        }

        .gates {
            @extend .clearfix;

            .gate {
                a {
                    &:before {

                    }
                    &:focus,
                    &:hover {
                    }
                }
            }
        }

        .gatesheader .gate a {
            color: $gray-light;
            height: auto !important;

            &:before {
                @include make-fa('\f0ca');
                font-size: 16px;
            }
        }

        .fromto {
            background-color: #eee;
            @extend .regular;
            padding: 0.3em;
            border-bottom: 1px solid #ddd;
        }

        .slot {
            .links {
                a {
                    background-color: #fff3d8;
                    border: 1px solid #e4d7b9;
                    border-width: 0 0 1px 1px;

                    &:focus,
                    &:hover {
                        background-color: #326309;
                    }
                }
            }
        }
    }
}

.week-legend {
    ul.legend {
        li {
            display: flex;
            flex-flow: row-reverse wrap;
            justify-content: flex-end;

            .square {
                float: none;
                clear: both;
                margin-right: 10px;
            }
        }
    }
}
