#header-social {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    p {
        display: inline-block;
        margin: 0;
        vertical-align: bottom;
        font-size: 0.9em;
    }

    .newsletter-link {
        a {
            color: #fff;
            text-transform: uppercase;

            &:hover,
            &:focus {
                color: #eee;
                text-decoration: underline solid currentColor 1px !important;
            }
        }
    }

    .separator {
        margin-left: 1em;
        border: 1px solid rgba(255, 255, 255, 0.7);
        height: 3rem;
    }

    ul {
        @extend .list-inline;
        display: inline-block;
        padding-left: 1rem;
        margin: 0;

        li {
            padding-right: 0;

            a {
                display: inline-block;

                &:before {
                    display: inline-block;
                    border-radius: 100%;
                    background-color: #fff;
                    color: $brand-primary;
                    width: 3rem;
                    height: 3rem;
                    text-align: center;
                    font-size: 2rem;
                    line-height: 30px;
                    vertical-align: middle;
                }
                &.sc-facebook:before {
                    @include make-fa('\f09a', $brand-primary);
                }
                &.sc-twitter:before {
                    @include make-fa('\f099', $brand-primary);
                }
                &.sc-youtube:before {
                    @include make-fa('\f167', $brand-primary);
                }
                &.sc-google:before {
                    @include make-fa('\f0d5', $brand-primary);
                }
                &.sc-linkedin:before {
                    @include make-fa('\f0e1', $brand-primary);
                }
                &.sc-instagram:before {
                    @include make-fa('\f16d', $brand-primary);
                }
                &.sc-telegram:before {
                    @include make-fa('\f2c6', $brand-primary);
                }
                // &.sc-medium:before {
                //     background-image: url($img-path + 'mediumHover.svg'); // *Hover perchè deve essere bianco -> vedi footer
                //     background-repeat: no-repeat;
                //     background-position: center center;
                //     background-size: 75%;
                //     content:'';
                // }

                &:focus,
                &:hover {
                    &:before {
                        background-color: transparentize(#fff, 0.8);
                        color: #fff;
                    }
                }

                span {
                    @extend .sr-only;
                }
            }
        }
    }
}
