.valuta-sito {
    width: 100% !important;
    background: $brand-primary;
    text-align: center;
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 0;

    a {
        display: block;
        color: #fff !important;
        padding: 20px;

        .valuta-sito-text {
            border-bottom: 1px solid transparent;
        }

        &:hover,
        &:focus {
            .valuta-sito-text {
                border-bottom-color: #fff;
            }
        }
    }

    p {
        margin: 0;
    }

    .valuta-sito-content:before {
        content: '';
        padding-right: 4em;
        display: inline-block;
        width: auto;
        height: 1.5em;
        vertical-align: top;
        background-image: url($img-path+'rectangle-tool.svg');
        background-size: 4rem;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .portletHeader {
        display: none;
    }
}

// tile statiche generiche
.tile-advanced-static {
    margin: 30px 0;

    &.sfondo-scuro,
    &.sfondo-chiaro {
        margin: 0;
        padding: 20px 0;
    }

    h3.tileTitle {
        margin-top: 0;
    }

    .tileFooter {
        font-weight: $semibold;

        a {
            border: 1px solid;
            border-radius: 3px;
            padding: 0 0.5em;
        }
    }

    &.portletStaticNavigation {
        .tile-text {
            padding: 20px;

            .colonna-1-di-4 {
                @extend .col-md-3;
            }

            h3 {
                border-bottom: 4px solid #666;
                margin-bottom: 0.75em;
                margin-top: 0;
                padding: 15px 0 10px;
            }

            ul {
                margin: 1.5rem 0 !important;
                padding: 0 0 15px;
                list-style: none !important;

                li {
                    padding: 1.5rem 0;

                    &:nth-of-type(n + 2) {
                        border-top: 1px solid $gray-desc-border;
                    }

                    a {
                        border-bottom: 0 none !important;

                        &:focus,
                        &:hover {
                            color: $link-hover-color !important;
                            border-bottom: 1px solid $link-hover-color !important;
                        }
                    }
                }
            }

            @media (min-width: 992px) {
                display: flex;

                [class*='colonna-1-di-'],
                [class*='col-md-'] {
                    &:not(:first-of-type) {
                        margin-left: 0.5rem;
                    }

                    &:not(:last-of-type) {
                        margin-right: 0.5rem;
                    }
                }
            }
        }
    }
}

.PagesTileStatic,
.tile-advanced-static.PagesTileStatic {
    margin: 3rem 0;

    .tile-container:before {
        border-top: 8px solid $brand-primary;
        clear: both;
        content: ' ';
        display: block;
        width: 200px;
        max-width: 100%;
    }

    a {
        border-bottom: 1px solid $link-color;

        &:focus,
        &:hover {
            border-bottom: 1px solid $link-hover-border-color;
        }
    }

    h3.tileTitle {
        font-size: 2.5rem;
        font-weight: $bold;
        margin: 1.5rem 0 1rem;
        line-height: 1.3;

        a {
            color: #000;
            border-bottom: 0 none;

            &:focus,
            &:hover {
                color: $link-hover-color;
                border-bottom: 1px solid $link-hover-color;
            }
        }
    }

    .tile-text {
        ul {
            margin: 1.5rem 0;
            padding: 0;
            list-style: none;

            li {
                padding: 1.5rem 0;
                border-top: 1px solid $gray-desc-border;

                a {
                    border-bottom: 0 none;

                    &:focus,
                    &:hover {
                        border-bottom: 1px solid $link-hover-color;
                    }
                }
            }
        }
    }
}

.sfondo-scuro,
.sfondo-chiaro {
    &.portletStaticNavigation {
        .tile-text {
            @include clearfix;

            [class*='colonna-1-di-'],
            [class*='col-md-'] {
                background: #fff;
            }
        }
    }
}

// Bottoni
#content .Bottoni,
.Bottoni {
    @include clearfix;

    h3.tileTitle {
        display: none;
    }

    .tileBody {
        display: flex;
        flex-flow: row wrap;
        margin-left: -15px;
        margin-right: -15px;

        > div {
            display: flex;
            flex-flow: row wrap;
        }
    }

    .Bottone {
        background-color: $brand-primary;
        border-radius: 5px;
        padding: 20px;
        margin: 7.5px 0;
        color: white;
        width: 100%;

        h3 {
            color: white;
            margin: 0;
            font-weight: 400;

            a {
                color: white;

                &:hover,
                &:focus {
                    color: white !important;
                }
            }
        }

        &.Big {
            padding: 15px 20px;

            h3 {
                font-size: 1.8em;
            }
        }

        &.Small {
            h3 {
                font-size: 1.3em;
            }
        }
    }
}
