body.template-fg_thankspage_view_p3 {
    #content {
        blockquote {
            float: none;
            max-width: none;
            margin-left: 0;
            border: 5px solid #ccc;
            font-size: inherit;

            dl {
                dd {
                    margin-bottom: 1rem;
                }
            }
        }
    }
}
