.tileWrapper {
    .prenotazioni-tile {
        legend {
            border-bottom: none;
        }

        .week-legend {
            width: 100%;

            table {
                width: 100%;
            }
        }
    }
    &.tile-dx {
        @media (min-width: 600px) {
            .prenotazioni-tile {
                margin-left: 20px;
            }
        }
    }
    &.tile-sx {
        @media (min-width: 600px) {
            .prenotazioni-tile {
                margin-right: -20px;
            }
        }
    }
}
