// TABLE OF CONTENTS
#content dl.portlet.toc {
    float: none;
    width: auto;
    border-top: 1px dashed #bbb;
    border-bottom: 1px dashed #bbb;
    padding-top: 1.3em;
    padding-bottom: 1em;
    margin-bottom: 2.3em;

    dt {
        border: 0;
        padding-left: 2em;
        padding-top: 0;
        padding-bottom: 0;
        position: relative;
        font-size: 0.95em;
        font-weight: $semibold;
        background-color: transparent;

        &:before {
            @include make-fa('\f0ca');
            position: absolute;
            left: 0;
            top: 1px;
            font-size: 1.2em;
            font-weight: $regular;
        }
    }

    dd.portletItem {
      padding-bottom: 0;

        > ol {
            margin-left: 3em;

            li {
                padding-left: 10px;

                a {
                    border-bottom: 0 none;
                }
            }
        }
    }
}
