.officeContactsWrapper {
    margin: 0 0 40px;

    .officeContactsContent {
        display: flex;
        background: #eee;
        border-top: 1px solid $brand-primary;

        > div {
            padding: 20px;
            width: 100%;
            min-width: 25em;

            h6 {
                margin: 0;
            }

            h5 {
                margin: 0 0 10px;
            }
        }
    }
}

// portlet Uffici
.boxOffice {
    .officeTime,
    .officePhone,
    .officeFax,
    .officeEmail,
    .officePec {
        &::before {
            padding-right: 1em;
        }

        h6 {
            display: none;
        }

        > * {
            display: inline-block;
        }
    }

    .officeTime {
        &::before {
            @include make-fa('\f017', $gray-nav);
        }
    }

    .officePhone {
        &::before {
            @include make-fa('\f095', $gray-nav);
        }
    }

    .officeFax {
        &::before {
            @include make-fa('\f1ac', $gray-nav);
        }
    }

    .officeEmail {
        &::before {
            @include make-fa('\f003', $gray-nav);
        }
    }

    .officePec {
        &::before {
            @include make-fa('\f0e0', $gray-nav);
        }
    }
}
