/////// font and links
.light      { font-weight: 300; }
.regular    { font-weight: 400; }
.semibold   { font-weight: 600; }
.bold       { font-weight: 700; }

a {text-decoration: none !important;}
/*#portal-columns a,
a%a-style:not(.btn)   { border-bottom: $borderLinkWidth $borderLinkStyle $borderLinkColor;
              @include transition(all .2s ease-in);
  &:focus,
  &:hover   { background-color: $grayVeryLighty;
              border-radius: 3px;
              text-decoration: none;
              border-bottom: $borderLinkHoverWidth $borderLinkHoverStyle $borderLinkHoverColor;
  }
}
a%basic:not(.btn) { color: $link-color;
		  border-bottom: 1px solid $link-color;
		  background-color: $tr;
	&:focus,
  	&:hover { color: $link-hover-color; }
}
dl.portlet a,
#content a,
#content p a { @extend %a-style; }
*/
#portletPageColumns {@extend .clearfix;}

.richTextWidget      { padding-top: 10px;
    .fieldTextFormat { display: none; }
}

// pagina ricerca
#search-results-bar dl.actionMenu { margin-left: 20px;
                                    padding-left: 20px;
                                    border-left: 1px solid $gray-lighter;
  dt.actionMenuHeader             { position: relative;
                                    padding-left: 25px;
                                    margin-left: 0;
    &:before                      { @include make-fa('\f0b0', $gray-lighter);
                                    position: absolute;
                                    left:0;
                                    top: -4px;
                                    font-size: 20px;
    }
    a                             { margin:0; }
  }
  dd.actionMenuContent            { margin-top: 10px; }
}
#search-filter                    { border: 1px solid #ccc;
                                    background-color: $gray-bg;
  legend                          { margin-bottom: 0;
    &,
    #content &                     { @extend .regular; border-top: 1px solid #e5e5e5; }
  }
  fieldset:first-child legend     { border-top:0; }
  .field                          { background-color: #fafafa;
    .optionsToggle                { border:0;
                                    background-color: $tr;
                                    padding:0;
      label                       { @extend .bold; text-transform:uppercase; }
    }
  }
}
.userrole-anonymous #search-results dt img { display: none; }

////// Personal Bar
#portal-personaltools-wrapper   { background-color: #660000;
                                  background: linear-gradient(to right, #1AB7B1 0, #0E7996 33%, #036b87 66%, #0e8480 100%);
                                  padding: 3px $grid-gutter-width/2;
                                  margin: 0 0;
                                  font-size: 1em;
                                  border-bottom: 4px solid #FFF;
    .brand                  { text-shadow: none;
    						  @extend .pull-left;
                              color: #FFF;
                              margin: 5px 20px 0 0;
                              padding:0;
                              font-size: 0.9em;
                              text-transform: uppercase;
                              font-weight: bold;
    }
    ul#portal_personaltools { text-align: right;
                              margin:3px 0;
        li                  {
            a               { color: #FFF ;
                              font-size: 0.85em;
                              padding: 0.1em 0.7em;
                              margin: 0 0.5em;
                              border:0 !important;
                              border-radius:5px;
                &:hover     { background-color: #ff6600; }
            }
        }
    }
    #user-name img          {display: none;}
}


//// FOLDER LISTING
.template-folder_listing      {
  #content-core               {
    > dl dt                   { margin-top: 0.5em; }
  }
}

/// dettaglio evento
.eventDetails table           {
  a[href*='mailto:']          { display: inline-block;
    &:before                  { @include make-fa('\f003'); margin-right: 5px; }
  }
}
