/////////// PLONE BASE STYLES AND BACKEND /////////////

p.hiddenStructure,
#content p.hiddenStructure { margin:0; height: 0;}
.state-published { color: inherit !important; }
body.largeText {font-size: $font-size-large;}

#visual-portal-wrapper { @include clearfix; }

// BTN e FORM
select,
input[type]                     { margin-bottom:0;
                                  margin-top: 0;
}
select, input[type="text"],
input[type="password"]      { @extend .form-control;
                                  display: inline-block;
}
input.searchField { -moz-appearance: none;}
.field input[type="password"][size] { width: auto; }
label, input, button, select, textarea,
#content .field label {font-size: 1em;}
select, input[type="file"]      { height: auto; line-height: normal;}
input[type="submit"],
input.context[name="form.button.save"],
input.context[name="form.actions.save"] { @extend .btn, .btn-success; }
input[type="button"]            { @extend .btn, .btn-primary; }
.context,
input.context,
input.destructive,
input.standalone,
input[type="submit"].discreet,
input.standalone[name="form.button.cancel"] { @extend .btn, .btn-default;}
input[type="submit"].discreet   { @extend .btn-xs; }
input.standalone                { @extend .btn-info; }
input.destructive               { @extend .btn-danger; }
.actionButton inpput.context {margin-right: 1em;}
#content,
div.overlay,
.portlets-manager             {
  legend                      { padding: 1em 0 0;
                                font-size: 1.3em;
  }
  input, select                { font-size: 1em;}
}

select                          { max-width:220px; width: auto; height: auto;}
.widget fieldset input.context  { @extend .btn-xs; margin: 3px;}
label                           { display: inline-block; }
.formHelp                       { font-size: 0.9em;}
.field label                    { font-weight: bold;
  .label                        { padding: 0 0 0 0.3em;
                                  background-color: transparent;
                                  color: $text-color;
                                  font-size: 1em;
                                  text-shadow: none;
  }
}
div.field.error                 { background-color: $state-danger-bg;
                                  border-color: $state-danger-text;
                                  color: $state-danger-text;
    input                       { border-color: $state-danger-text; }
}
.collapsible                    {
    .collapse                   { height: auto;
                                  overflow: auto;
                                  -webkit-transition: none;
    }
}
.portaltype-plone-site div.label,
.formQuestion.label             { text-align: left;
                                  padding: 0;
                                  font-size: inherit;
                                  font-weight: inherit;
                                  line-height: inherit;
                                  color: inherit;
                                  vertical-align: baseline;
                                  white-space: normal;
                                  text-shadow: none;
                                  background-color: transparent;
}
input.label:empty               { display: inline-block; }
.optionsToggle                  { border-radius: 3px;
                                   padding: 0.2em 0.5em;
                                   border:0;
                                   display: inline-block;
                                   background-color: $state-info-text;
                                   text-shadow: none;
                                   color: $state-info-text;
                                   margin-bottom: 1em;
    input                       { margin: 0 0.5em 0 0; }
    label                       { margin:0; }
}
.calendar                       { z-index: 100;
  table thead .title            { border: 0;
                                  background: $tr none !important;
  }
}
#formfield-form-image_ref.field,
#formfield-form-internal_url.field { background-color: $gray-lighter;
                                      padding: 0.5em 1em;
                                     border-radius: 5px;
    legend                         { font-size: 1em;
                                      margin-bottom:0;
                                      border:0;
    }
}
.ArchetypesQueryWidget .criteria { @include clearfix; }
.editionComment         { background-color: $gray-lighter;
                          border-radius: 6px;
                          padding-top: 1em;
}
#content .sequencewidget .row           { margin-left: 10px;
   input[type="text"][name$=".title"],
   #archetypes-fieldname-title input    { font-size: 1em; padding: 0.2em;}
}

// Fix wildcardfoldercontents
#content .fc .btn-group > input.btn{
    font-size: 14px;
    &.context:focus,
    &.context:hover { color: $text-color !important;}
}
#fileupload .span7{
    margin-left:20px;
    width: auto;
    min-height: 1em;
    .fileinput-button{
        margin-top: 0px;
    }
}


// EDIT
#edit-bar {@include clearfix; }
#content-views  { margin:0;
  a             { border:0 !important; }
}
.template-folder_listing        {
    dd                          {
        .description            { font-size: 0.9em; }
    }
}

#content .field textarea[name$=".description"],
#archetypes-fieldname-description textarea#description {
    font-family: inherit;
    font-size: 1em;
    color: inherit;
    font-weight: 500;
    padding: 0.4em 0.5em;
}
.contentActions { position: relative;
                  top: 7px;
                  float: right;
}
#contentActionMenus dl.actionMenu { margin-bottom: 0.5em;
    a { border:0 !important; }
    &.activated                   {
        dd ul                     { margin: 0.3em; }
        .actionMenuContent a          { padding: 0.2em 1.5em 0.2em 0.2em;
        }
        ss .actionMenuSelected,
        dd a:hover                { background-color: transparentize(#FFF, .70) !important;
                                     color: #FFF !important;
        }
    }
}

#content-history                {
    input.standalone[type="submit"] { @extend .btn, .btn-xs; }
}

a.managePortletsFallback        { margin-bottom:0; }
#content                        {
    a.link-parent               { @extend .btn, .btn-info, .btn-xs;
                                  margin-bottom: 10px;
                                  font-size: 1em;
                                  border:0;
                                  color: #FFF !important;
    }
    #uponelevel.link-parent      { display: inline-block; @extend .btn-link;}
}

// Overlay
.overlay                {
  .close                { @include opacity(1);}
}

// Standard view
.template-standard_view             {
  #content                          {
    dl                              {
      dt                            { margin: 0.5em 0 0; }
      dd                            { font-size: 0.95em;
                                      margin: 0 0 0 2em;
      }
    }
  }
}

/** TABLE **/
table.invisible { visibility: visible;}
table.table-noborder {
  td, th             { padding: 0.6em;}
}
table.sequencewidget td {padding-top: 0.3em; padding-bottom: 0.3em;}

// Tags
#existingTags   { float: none;
                  width: auto;
  li label      { display: inline;}
}

/*** LOGIN FORM ***/
#login_form                     {
  input[type="text"],
  input[type="password"]        { min-width: 20%;}
}


// PORTLETPAGE EDIT
.template-portlets.portaltype-portlet-page #portletPageColumns hr { clear: both; }


//*********************** SCAFFOLDING ***********************/
.cell { position: relative;
        float: left;
        min-height: 1px;
        padding-left:  ($grid-gutter-width / 2);
        padding-right: ($grid-gutter-width / 2);
  @media (max-width: $screen-md-min) { float: none; padding-left:0; padding-right: 0; }

}

div.width-1\3a 2 { @include make-sm-column(6); } /* .width-1:2 */
div.width-1\3a 4 { @include make-sm-column(6);   /* .width-1:4 */
                   @include make-md-column(3);
    #plonebrowser & { @include make-sm-column(3); } // fix for tiny browsers
}
div.width-3\3a 4 { @include make-sm-column(9); } /* .width-3:4 */
div.width-full   { @include make-sm-column(12); }
div.width-1\3a 3 { @include make-sm-column(4); } /* .width-1:3 */
div.width-2\3a 3 { @include make-sm-column(8); } /* .width-2:3 */

#portal-columns,
.portal-footer-content {
    @include make-container;
}

.portal-columns-row {
    @include make-row;
}



// solo content
#portal-column-content.no-columns {
    @include make-xs-column(12);
}

/* Define classes for 1/5ths and 1/6ths widths and positions. */
 div.position-1\3a 5,
 div.position-2\3a 5,
 div.position-3\3a 5,
 div.position-4\3a 5,
 div.position-1\3a 6,
 div.position-2\3a 6,
 div.position-3\3a 6,
 div.position-4\3a 6,
 div.position-5\3a 6 {margin-left: 0;} /* .position-x:5 e x:6 */
 div.width-1\3a 5 { width: 20%; float: left; } /* .width-1:5 */

// vista provini
.photoAlbumEntry { background-position: right top; width: 157px; }
