/* Questo css svrascrive le classi che in Sunburst non usano le base_properties  */

body {
    font-size: $font-size-base;
    font-family: $font-family-base;
    background: $body-bg;
    color: $text-color;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $headings-font-family;
    color: $headings-color;
    letter-spacing: normal;
    a {
        color: $link-color;
    }
}
h1 {
    color: $headings-color;
}

a {
    &:link {
        color: $link-color;
    }
    &:visited {
        color: $link-color;
    }
    &:hover {
        color: $link-hover-color;
    }
    &:active {
        color: $link-color;
    }
}
input {
    font-family: $font-family-base;
    font-size: $font-size-base;
}

#content,
#content .documentDescription,
#content #description,
#portal-globalnav,
dl.portlet,
div.managePortletsLink,
a.managePortletsFallback,
#edit-bar,
#portal-breadcrumbs,
#portal-personaltools,
#portal-languageselector,
#portal-siteactions,
div.listingBar,
#portal-columns dl.portalMessage,
#content dl.portalMessage,
#setup-link,
.comment,
#portal-footer,
#portal-sitemap,
#portal-searchbox,
div.portletAssignments,
#archetypes-fieldname-description textarea#description {
    font-size: 1em;
}
div.overlay {
    font-size: 0.95em;
    label {
        font-size: 1em;
    }
}
body.smallText {
    font-size: $font-size-small;
}
#portal-globalnav {
    background-color: transparent;
    li a {
        background: transparent;
        background: transparent;
        min-width: 1px;
        padding: inherit;
    }
    .selected a,
    a:focus,
    a:hover {
        background: transparent;
        color: inherit;
    }
    .selected a {
        &:focus,
        &:hover {
            background: transparent;
            color: inherit;
        }
    }
}

#portal-personaltools {
    background: $globalBackgroundColor;
    a {
        color: $link-color;
    }
}
#portal-languageselector {
    background: $globalBackgroundColor;
}

#portal-breadcrumbs {
    margin-bottom: 1em;
    a {
        border-bottom: none;
        padding: 0.25em 0;
        display: inline-block;
    }
}

#portal-siteactions li a:focus,
#portal-siteactions li a:hover {
    color: $link-hover-color;
}

/*div.portletAssignments div.portletHeader {
    background: $globalBackgroundColor;
}*/
dl.portlet {
    dt {
        background: $globalBackgroundColor;
        a {
            &:link,
            &:visited,
            &:focus,
            &:hover {
                color: $link-color;
            }
        }
    }
    ul.navTreeLevel0 > .navTreeItem {
        border-color: $globalBackgroundColor;
        border-width: 0;
    }
    ul.navTree .navTreeCurrentItem {
        background-color: $globalBackgroundColor;
        border-left: 1em solid $globalBackgroundColor;
    }
}

div.managePortletsLink {
    background: $globalBackgroundColor;
}
#content a,
dl.portlet a {
    &:link,
    &:visited {
        color: $link-color;
        border-color: $borderLinkColor;
        border-bottom-width: $borderLinkWidth;
        border-bottom-style: $borderLinkStyle;
    }
    &:focus,
    &:hover {
        color: $link-hover-color !important;
        border-color: $borderLinkHoverColor;
        border-bottom-width: $borderLinkHoverWidth;
        border-bottom-style: $borderLinkHoverStyle;
    }
}
dl dt span.summary a {
    border-bottom-width: $borderLinkWidth !important;
    border-bottom-style: $borderLinkStyle !important;
    border-color: $borderLinkColor !important;
    &:focus,
    &:hover {
        color: $link-hover-color !important;
        border-color: $borderLinkHoverColor !important;
        border-bottom-width: $borderLinkHoverWidth !important;
        border-bottom-style: $borderLinkHoverStyle !important;
    }
}
div.portlet li {
    margin-bottom: 0.25em;
    line-height: 1.5em;
    display: list-item;
}

#category {
    color: $gray;
    a.link-category {
        background: $globalBackgroundColor;
        &:hover {
            background: $gray-dark;
            color: $gray-lighter;
            border-color: $gray-dark;
        }
    }
}

#content {
    pre {
        background-color: $gray-darker;
        color: #fff;
        font-size: 1.1em;
    }
    .visualHighlight {
        background-color: $state-info-bg;
    }
    blockquote.pullquote {
        color: #575757;
        font-size: 1.1em;
        line-height: 1.5em;
        font-weight: 600;
    }
    .callout {
        background: $gray-lighter;
        border-color: $gray-light;
    }
    .documentDescription,
    #description {
        color: $text-color;
        font-weight: bold;
        font-family: $font-family-base;
    }
    div.newsImageContainer p.discreet {
        background-color: #666;
        background-color: rgba(40, 40, 40, 0.7);
        color: #fff;
    }
    dl.portalMessage a {
        color: black;
        border-bottom-color: black;
    }
}

#content div.documentByLine,
dl dt .documentByLine {
    color: $gray;
}

#content .discreet,
#sidebar .discreet {
    color: $gray-light;
}

table {
    .plain {
        th,
        td {
            border-color: $globalBorderColor;
        }
    }
    .listing {
        th {
            color: $globalFontColor;
            border-color: $gray-lighter;
        }
        tr.odd th {
            border-color: #fff;
        }
        tbody tr {
            &.odd {
                background: $oddRowBackgroundColor;
                td {
                    background: $oddRowBackgroundColor;
                }
                &.selected td {
                    background-color: #ffa;
                }
            }
            &.even {
                background: $evenRowBackgroundColor;
                td {
                    background: $evenRowBackgroundColor;
                }
            }
            .selected {
                background-color: #ffa;
            }
        }
        td.draggable {
            background: $globalBackgroundColor !important;
            border-bottom-color: #fff;
        }
    }
}

div.listingBar a {
    border-color: $globalBorderColor;
    &:focus,
    &:hover {
        color: #fff;
        background-color: #329fd7;
        border-color: #329fd7;
    }
}

dl.portalMessage {
    border-color: #996;
    background-color: #ffffe3;
    a {
        color: black;
        border-bottom-color: black;
    }
    dt {
        background-color: $state-warning-bg;
        color: $state-warning-text;
    }
}

dl.warning {
    border-color: $state-warning-border;
    color: $state-warning-text;
    dt,
    dd {
        background-color: $state-warning-bg;
        color: $state-warning-text;
    }
}
dl.error {
    border-color: $state-danger-border;
    color: $state-danger-text;
    dt,
    dd {
        background-color: $state-danger-bg;
        color: $state-danger-text;
    }
}
dl.info {
    border-color: $state-info-border;
    color: $state-info-text;
    dt,
    dd {
        background-color: $state-info-bg;
        color: $state-info-text;
    }
}

#edit-bar {
    background-color: $contentViewBackgroundColor;
    border-color: $contentViewBackgroundColor;
}
#content-views {
    background-color: $contentViewBackgroundColor;
    li.selected a,
    li a:focus,
    li a:hover {
        background-color: $contentViewHoverBackgroundColor;
        color: #000;
    }
    li.selected a {
        background-color: #fff;
    }
}
#content {
    ul.formTabs {
        background-color: $globalBackgroundColor;
        border-color: $globalBackgroundColor;
        li.formTab {
            a.selected,
            a:focus,
            a:hover {
                background-color: $globalHoverBackgroundColor;
                color: #000;
            }
            a.selected {
                background-color: #fff;
            }
            a.notify {
                background-color: $red;
                color: #fff;
            }
        }
    }
}
#portal-personaltools {
    dt.actionMenuHeader a:focus,
    dt.actionMenuHeader a:hover {
        color: $text-color;
    }
    dd {
        background: $gray-lighter;
        a:focus,
        a:hover {
            background: #fff;
            color: #000 !important;
        }
    }
}
#contentActionMenus {
    background: $contentViewBackgroundColor;
    dl.actionMenu {
        a {
            background-color: $contentViewBackgroundColor;
            color: #fff;
        }
        .actionMenuContent a,
        &.activated dd {
            background-color: $contentViewHoverBackgroundColor;
            color: #fff;
        }
        a:focus,
        a:hover {
            color: #000;
            background-color: $contentViewHoverBackgroundColor;
        }
        dt {
            margin-top: 0;
            a {
                margin: 0 0;
                padding: 0 0.5em;
                -moz-border-radius: 0.5em 0.5em 0 0;
            }
        }
        &.deactivated dt {
            margin: 0 0;
        }
        &.activated dd {
            border-bottom: $contentViewBorderColor;
            a:focus,
            a:hover,
            .actionMenuSelected {
                color: $gray;
            }
            ul {
                padding-bottom: 0.4em;
            }
        }
    }
}

#folderHeader,
#contextHeader {
    border-bottom-color: #fff;
}

#content ul.configlets li {
    a:visited {
        color: #436976;
        background-color: transparent;
    }
    a:active {
        color: #436976;
    }
}
#content ul.configletDetails li.configletDescription {
    color: #76797c;
}
.rule-element {
    background-color: #eef3f5;
}

dl.collapsible {
    border-color: #8cacbb;
}

// .comment        { border-color: $gray-lighter;
//                   background-color: lighten($gray-lighter, 15%);
//     h1,
//     h2,
//     h3,
//     h4,
//     h5,
//     h6          { border-bottom-color: $gray-light; }
// }

.optionsToggle {
    border-color: #8cacbb;
    color: #000;
    background-color: #dee7ec;
}

.highlightedSearchTerm {
    background-color: #ffa;
}
.noInheritedRoles {
    color: $gray-light;
}

.currentItem {
    border-color: #ffa500;
}
img.image-left,
img.image-right {
    margin-top: 0;
}
img.image-left,
img.image-right,
.captioned img {
    border-color: $gray-lighter;
}
dd.image-caption {
    color: $gray-light;
}

#archetypes-fieldname-description textarea#description {
    font-family: $font-family-base;
    color: #000;
}
#content .field input[type='text'][name$='.title'] {
    font-size: 1em;
}
#content #archetypes-fieldname-title input {
    font-family: $font-family-sans-serif;
    color: #000;
    font-size: 1.2em;
}

input[type='text']:focus,
input[type='password']:focus,
textarea:focus {
    background-color: #ffffe0;
}

#content {
    fieldset {
        border-color: $globalBorderColor;
    }
    optgroup {
        color: $gray-light;
    }
    option {
        color: #000;
    }
    textarea {
        font-family: $font-family-base;
    }
}

.searchSection {
    color: #76797c;
    label:hover {
        color: #000;
    }
}
.formHelp {
    color: $gray;
}
div.error {
    background-color: $state-danger-bg;
}
.error .fieldRequired {
    color: $state-danger-text;
}
dl.portalMessage,
div.attention,
div.caution,
div.danger,
div.error,
div.hint,
div.important,
div.note,
div.tip,
div.warning {
    font-size: 90%;
}

input.inputLabelActive {
    color: #76797c;
}

#portal-footer {
    color: $text-color;
    background-color: $tr;
    line-height: inherit;
}

#portal-colophon a {
    color: $link-color;
    &:hover {
        color: $link-hover-color;
    }
}

#portal-sitemap > li {
    border-bottom-color: $gray-lighter;
    font-weight: normal;
    .navTreeLevel2,
    .navTreeLevel2 ul {
        font-size: 0.95em;
    }
    a {
        display: inline-block;
    }
}

// Folder Contents
.template-folder_contents .documentDescription,
.template-folder_contents .newsImageContainer {
    display: none;
}
