@import url('_palette.css');
@import url('helper-classes--print.css');

    

@media print {
  * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
  html, body {
    margin: 0!important;
    padding: 0!important;
    font-size: 12pt;
    font-family: Arial, Helvetica, 'Helvetica Neue', sans-serif;
    color: #062e44;
    background-color: #fafbfd;
    line-height: 140%;
    width: 210mm;
    height: 297mm;
    text-align: center;
  }
  .page__wrapper {
    width: 208mm;
    min-height: 297mm;
    padding: 0!important;
    margin: 0!important;
    background: white;
    /*box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);*/
    display: table;
    text-align: left;
  }

  .page,
  .page__wrapper,
  .page__header {
    font-size: 9pt;
  }

  .container-fluid {
    display: table;
    width: 100%;
    padding: 0!important;
    margin: 0!important;
  }

  .row {
    /*display: table-row;*/
    padding: 0!important;
    margin: 0!important;
  }

  .row__page-break {
    page-break-after: always;
  }

  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left;
   }
   .col-md-12 {
        width: 100%;
   }
   .col-md-11 {
        width: 91.66666667%;
   }
   .col-md-10 {
        width: 83.33333333%;
   }
   .col-md-9 {
        width: 75%;
   }
   .col-md-8 {
        width: 66.66666667%;
   }
   .col-md-7 {
        width: 58.33333333%;
   }
   .col-md-6 {
        width: 50%;
   }
   .col-md-5 {
        width: 41.66666667%;
   }
   .col-md-4 {
        width: 33.33333333%;
   }
   .col-md-3 {
        width: 25%;
   }
   .col-md-2 {
        width: 16.66666667%;
   }
   .col-md-1 {
        width: 8.33333333%;
   }

   div[class*='col'] {
    /*padding: 0!important;*/
   }

   header {
    font-size: 12pt;
    line-height: 1.1em;
    text-align: left;
    height: 68px;
    padding: 0.85em 0.75em;
   }

   .page__header--text {
     line-height: 1.15em;
     padding-top: 4px;
   }

   .page__header--text + div {
      margin-top: 2px;
   }

   .page__sub-head {
    font-size: 5pt;
    height: 22px !important;
    padding: 6px 10px 2px!important;
   }

   .heading {
    padding: 0.45em 0.95em;
   }

  .text {
    font-size: 9pt !important;
    font-family: "Helvetica", "Arial", "Roboto", sans-serif;
    color: var(--nordic);
    line-height: 0.75em;
  }
  .text--blue-accent {
    color: var(--slate-grey);
  }
  .text--small {
    font-size: 60%;
    line-height: 1.4em;
  }
  .text--24px {
    font-size: 21pt !important;
  }
  .text--20px {
    font-size: 18pt !important;
  }
  .text--18px {
    font-size: 16pt !important;
  }
  .text--16px {
    font-size: 9pt !important;
  }
  .text--14px {
    font-size: 12pt !important;
  }
  h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    padding: 0;
    margin: 0;
    line-height: 1em;
    padding-bottom: 0.15em;
  }
  h1,
  .text--h1 {
    font-size: 1.285em !important;
    line-height: 24pt;
  }
  h2,
  .text--h2 {
    font-size: 18pt;
    line-height: 19pt;
  }
  h3,
  .text--h3 {
    font-size: 16px;
    line-height: 17pt;
  }
  h4,
  .text--h4 {
    font-size: 14px;
    line-height: 15pt;
  }
  h5,
  .text--h5 {
    font-size: 12pt;
    line-height: 14pt;
  }
  h6,
  .text--h6 {
    font-size: 10pt;
    line-height: 12pt;
  }
  .text--500 {
    font-weight: 500 !important;
  }
  .text--600 {
    font-weight: 600 !important;
  }
  .text--700 {
    font-weight: 700 !important;
  }

  .list__text-label {
    padding: 4px 12px 4px 4px;
    line-height: 130%;
    font-weight: 600;
  }

  .tag {
    background-color: var(--mint-blue);
    padding: 2px 6px !important;
    font-weight: 400 !important;
    border-radius: 3px !important;
  }


  ul.list--inline li.tag:last-child {
    margin-left:85px!important;
    margin-bottom: 5px;
  }


  ul,
  ul.list,
  ul li,
  ul.list li {
    list-style: none outside none;
    padding: 0;
    margin: 0;
    line-height: 1.35em;
  }
  ul.list--inline li {
    display: inline-block;
  }
  ul.list--outside-disc li {
    list-style: disc outside none;
  }

  ul.list .list--full-width {
    width: 100%;
  }

  ul.list__tabular-data li {
    border-bottom: 1px solid var(--alice-blue);
  }


  .page__wrapper--heading {
    position: relative;
    text-align: left;
    border: 1px solid var(--tasman);
    border-bottom-color: var(--navy-light);
    font-weight: 600;
    padding: 8px 12px;
    margin-bottom: -1px;
    background-color: var(--alice-blue);
  }

  .page__wrapper--heading:after {
    display: block;
    content: '';
    position: absolute;
    bottom: -6px;
    left: 30px;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    border-right: 1px solid var(--navy-light);
    border-bottom: 1px solid var(--navy-light);
    background-color: var(--alice-blue);
  }


  .heading.--scorecard {
    border-bottom-color: var(--cardinal);
    border-bottom-width: 2px;
  }

  .heading.--scorecard:after {
    border-right-color: var(--cardinal);
    border-right-width: 2px;
    border-bottom-color: var(--cardinal);
    border-bottom-width: 2px;
  }
  /* --
    cards
    -- */
  .card {
    border-radius: 0 0 3px 3px;
    padding: 12px 8px;
    background-color: #ffffff;
  }

  .card__card--nested {
    text-align:center;
    padding: 4px 6px;
    /*margin: 0 12px;*/
  }
  .card__card--nested::first-child {
    margin-left: 0;
  }
  .card__card--nested::nth-last-child {
    margin-right: 0;
  }

  .card--bordered {
    border: 1px solid var(--tasman);
  }

  .card__card--nested h2,
  .card__card--nested .text--h2 {
    font-size: 1.385em;
  }
  .card__card--nested h5,
  .card__card--nested .text--h5 {
    font-size: 0.885em;
  }

  .card--bordered > .row {
    margin-top: 6px!important;
  }


  .row.mt-4 {
    margin-top: 0.82em !important;
  }

  #row1 > div > .card {
    height: 26.25em;
  }

  .card--bordered .row__row--tags { margin-top: -18px!important; }

  /* --
    Charts
    --*/
  .chart{}
  .chart__label {
    z-index: 2;
    position: absolute;
    color: var(--slate-grey);
    font-weight: 300;
    font-size: 9pt;
    border-radius: 3px;
    background-color: var(--ice-blue);
    padding: 2px 4px 2px 0;
    box-shadow: none;
    border: 1px solid var(--tasman);
    text-align: center;
    line-height: 1;
  }

  .chart__label b {
    background-color: var(--navy-light);
    font-weight: 600;
    color: var(--alice-blue);
    padding: 2px 4px;
    border-radius: 3px;
    margin: 1px 4px 1px 1px;
    font-size: 80%;
  }

  .caret {
    display: none;
  }

  footer,
  .row.footer {
    position: relative;
    padding-top: 72px;
    margin-top: 72px;
    margin-bottom: -50px;
    height: 60px!important;
    display:block;
    border-top: 1px solid var(--tasman);
    bottom: 0;
    left: 0;
  }
  .logo {
    width: 80px;
    height: 60px;
    background: url('../images/cloud_vector_logo_transparent.png') center center no-repeat;
    background-size: contain;
    position: absolute;
    top: 2px;
    right:24px;
  }


}