/* Colors on states */
/* Items */
.state-accepted_but_modified, .label-state-accepted_but_modified {
    color: green !important;
}
#plone-contentmenu-workflow .state-accepted_but_modified {
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    background-color: green;
    padding: 0 0.5em;
    color: white !important;
    border: 2px solid green;
}

.state-pre_accepted, .label-state-pre_accepted {
    color: green !important;
}
#plone-contentmenu-workflow .state-pre_accepted {
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    background-color: green;
    padding: 0 0.5em;
    color: white !important;
    border: 2px solid green;
}

.state-financial_advice_signed,
.label-state-financial_advice_signed {
    color: blue;
}

#form-widgets-item_certified_signatures {
    height: 100px;
}